.App {
    width: 800px;
    position: absolute;
    left: 60px;
}

.result {
    border: solid 2px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #87CEFA;
}

input {
    width: 300px;
    height: 31px;
    font-size: 20px;  
    margin-top: 20px;
}

button {
    margin-left: 10px;
    width: 100px;
    height: 37px;
    margin-top: 20px;
    background-color: #FFA500;
    border-radius: 10px;
}

.itens {
    margin-left: 10px;
}